




@charset "UTF-8";

/* Import ET Book styles
   adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */

@font-face {
    font-family: "et-book";
    src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
    src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "et-book";
    src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
    src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "et-book";
    src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
    src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "et-book-roman-old-style";
    src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
    src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Tufte CSS styles */
html {
    font-size: 17px; 
}

body {
    /*width: 40%;*/
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    /*background-color: #fffff8;*/
    color: #111;
    max-width: 1400px;
    counter-reset: sidenote-counter;
    /*text-align: justify; */
}

h1 {
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1; 
}

h2 {
    font-style: italic;
    font-weight: 400;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
    font-size: 2.9rem;
    line-height: 1; 
}

h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    line-height: 1; 
}

hr {
    display: block;
    height: 1px;
    width: 55%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

p.subtitle {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    display: block;
    line-height: 1; 
}

.numeral {
    font-family: et-book-roman-old-style; 
}

.danger {
    color: red; 
}

article {
    padding: 5rem 0rem; 
}

section {
    padding-top: 1rem;
    padding-bottom: 1rem; 
}

p,
ol,
ul {
    font-size: 1.4rem;
    line-height: 2rem; 
}

p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline; 
}

/* Chapter Epigraphs */
div.epigraph {
    margin: 5em 0; 
}

div.epigraph > blockquote {
    margin-top: 3em;
    margin-bottom: 3em; 
}

div.epigraph > blockquote,
div.epigraph > blockquote > p {
    font-style: italic; 
}

div.epigraph > blockquote > footer {
    font-style: normal; 
}

div.epigraph > blockquote > footer > cite {
    font-style: italic; 
}
/* end chapter epigraphs styles */

blockquote {
    font-size: 1.4rem; 
}

blockquote p {
    width: 55%;
    margin-right: 40px; 
}

blockquote footer {
    width: 55%;
    font-size: 1.1rem;
    text-align: right; 
}

section > p,
section > footer,
section > table {
    width: 55%; 
}

/* 50 + 5 == 55, to be the same width as paragraph */
section > ol,
section > ul {
    width: 50%;
    -webkit-padding-start: 5%; 
}

li:not(:first-child) {
    margin-top: 0.25rem; 
}

figure {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: 55%;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0; 
}

figcaption {
    float: right;
    clear: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
    max-width: 40%; 
}

figure.fullwidth figcaption {
    margin-right: 24%; 
}

/* Links: replicate underline that clears descenders */
a:link,
a:visited {
    color: inherit; 
}

.no-tufte-underline:link {
    background: unset;
    text-shadow: unset;
}

a:link, .tufte-underline, .hover-tufte-underline:hover {
    text-decoration: none;
    background: -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(currentColor, currentColor);
    background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(currentColor, currentColor);
    -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
    background-position: 0% 93%, 100% 93%, 0% 93%; 
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    a:link, .tufte-underline, .hover-tufte-underline:hover {
        background-position-y: 87%, 87%, 87%;
    }
}

a:link::selection,
a:link::-moz-selection {
    text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
    background: #b4d5fe;
}

/* Sidenotes, margin notes, figures, captions */
img {
    max-width: 100%; 
}

.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: .8rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative; 
}

.sidenote-number {
    counter-increment: sidenote-counter; 
}

.sidenote-number:after,
.sidenote:before {
    font-family: et-book-roman-old-style;
    position: relative;
    vertical-align: baseline; 
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: .8rem;
    top: -0.5rem;
    left: 0.1rem; 
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    font-size: .8rem;
    /*top: -0.5rem; */
}

blockquote .sidenote,
blockquote .marginnote {
    margin-right: -82%;
    min-width: 59%;
    text-align: left; 
}

div.fullwidth,
table.fullwidth {
    width: 100%; 
}

div.table-wrapper {
    overflow-x: auto;
    font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif; 
}

.sans {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    letter-spacing: .03em; 
}

code, pre > code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.0rem;
    line-height: 1.42;
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

.sans > code {
    font-size: 1.2rem; 
}

h1 > code,
h2 > code,
h3 > code {
    font-size: 0.80em; 
}

.marginnote > code,
.sidenote > code {
    font-size: 1rem; 
}

pre > code {
    font-size: 0.9rem;
    width: 52.5%;
    margin-left: 2.5%;
    overflow-x: auto;
    display: block;
}

pre.fullwidth > code {
    width: 90%; 
}

.fullwidth {
    max-width: 90%;
    clear:both; 
}

span.newthought {
    font-variant: small-caps;
    font-size: 1.2em; 
}

input.margin-toggle {
    display: none; 
}

label.sidenote-number {
    display: inline; 
}

label.margin-toggle:not(.sidenote-number) {
    display: none; 
}

.iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0; 
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}

@media (max-width: 760px) {
    body {
        width: 84%;
        padding-left: 8%;
        padding-right: 8%; 
    }
    
    hr,
    section > p,
    section > footer,
    section > table {
        width: 100%; 
    }
    
    pre > code {
        width: 97%; 
    }

    section > ol {
        width: 90%; 
    }

    section > ul {
        width: 90%; 
    }

    figure {
        max-width: 90%; 
    }
    
    figcaption,
    figure.fullwidth figcaption {
        margin-right: 0%;
        max-width: none; 
    }
    
    blockquote {
        margin-left: 1.5em;
        margin-right: 0em; 
    }

    blockquote p,
    blockquote footer {
        width: 100%; 
    }
    
    label.margin-toggle:not(.sidenote-number) {
        display: inline; 
    }

    .sidenote,
    .marginnote {
        display: none; 
    }
    
    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative; 
    }

    label {
        cursor: pointer; 
    }

    div.table-wrapper,
    table {
        width: 85%; 
    }
    
    img {
        width: 100%;
    } 
}



.navbar {
  max-width: 960px;
  margin: 0 auto;
  padding: 5px 0;
  background: #fffff8;
}
#navbar-top {
  -moz-box-shadow:    0px 5px 3px -3px #888;
  -webkit-box-shadow: 0px 5px 3px -3px #888;
  box-shadow:         0px 5px 3px -3px #888;
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
  zoom: 1;
}
#navbar-bottom {
  -moz-box-shadow:    0px -5px 3px -3px #888;
  -webkit-box-shadow: 0px -5px 3px -3px #888;
  box-shadow:         0px -5px 3px -3px #888;
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
  zoom: 1;
}
.navbar img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}
.navbar-part {
  width: 32%;
  display: inline-block;
}
.navbar-part.middle {
  text-align: center;
}
.navbar-part.right {
  text-align: right;
}

/*
.key_takeaways {
    background-color: #ffece6; }
.key_takeaways > .title {
      color: #fff;
      background-color: #ff6933; }


.exercises {
    background-color: #e3eff7; 
    padding: 0px 50px 0px 10px;}
.exercises > .title {
      color: #fff;
      background-color: #08629a;
      /*padding: 0px 200px 0px 200px; */
/*    }


 .learning_objectives {
    background-color: #eae9dc; }
 .learning_objectives > .title {
      background-color: #d2d1c2; }

.learning_objectives, .key_takeaways, .exercises, .exercises-math, .qandaset, .keyterm {
    padding-bottom: 20px; }
*/






/*Book content*/
#book-content .block-container {
    position: relative; }
  #book-content .link {
    word-wrap: break-word; }
  #book-content a.delete {
    top: 6px;
    right: -18px;
    position: absolute; }
  #book-content dl {
    padding: 0px  0px 0px 30px;
    margin-bottom: 10px; }
    #book-content dl dt {
      list-style-type: disc;
      display: list-item;
      font-weight: bold;
      margin: 14px 0px 0px 0px; }
  #book-content .apa_show {
    padding-left: 30px;
    text-indent: -30px; }
  #book-content .revision-added-marker,
  #book-content .revision-changed-marker {
    height: 100%;
    position: absolute;
    left: -25px; }
    #book-content .revision-added-marker div,
    #book-content .revision-changed-marker div {
      background-color: #ccc;
      width: 4px;
      height: 45%; }
    #book-content .revision-added-marker img,
    #book-content .revision-changed-marker img {
      background-color: white;
      margin-left: -5px;
      margin-bottom: -2px; }
  #book-content h1, #book-content h2, #book-content h3, #book-content h4, #book-content h5, #book-content h6, #book-content p, #book-content ul, #book-content ol {
    font-size: 100%; }
  #book-content h3, #book-content h4, #book-content h5, #book-content h6, #book-content p, #book-content ol, #book-content ul {
    color: #333; }
  #book-content h1 {
    font-size: 1.69em;
    margin-bottom: 20px;
    color: #08629A; }
    #book-content h1 .title-prefix {
      color: #000; }
  #book-content h2 {
    line-height: 1.83em;
    margin-bottom: 24px;
    color: #333;
    font-size: 1.5em; }
  #book-content h3 {
    font-size: 1.3em; }
  #book-content p, #book-content ul, #book-content ol {
    /*font-family: Georgia, serif;*/
    /*font-size: 0.89em;*/
    line-height: 1.4em;
    padding-top: 6px;
    padding-bottom: 6px; }
    #book-content p p, #book-content p ul, #book-content p ol, #book-content ul p, #book-content ul ul, #book-content ul ol, #book-content ol p, #book-content ol ul, #book-content ol ol {
      margin: 0;
      font-size: 1em;
      /*line-height: 1em;*/ }
  #book-content ol .informalfigure.small, #book-content ol .informalfigure.medium, #book-content ol .figure.small, #book-content ol .figure.medium, #book-content ul .informalfigure.small, #book-content ul .informalfigure.medium, #book-content ul .figure.small, #book-content ul .figure.medium {
    float: none; }
  #book-content .catalog-button p {
    font-size: 1em; }
  #book-content .catalog-button p, #book-content .catalog-button h1, #book-content .catalog-button h2, #book-content .catalog-button h3, #book-content .catalog-button h4, #book-content .catalog-button h5 {
    margin: 0;
    /*font-family: 'Calibri2', Calibri, sans-serif;*/
    color: #fff !important; }
  #book-content ul, #book-content ol {
    padding-left: 25px; }
  #book-content table {
    font-size: 0.9em;
    border-collapse: collapse; }
    #book-content table thead th {
      padding: 5px;
      border: 1px solid #000;
      color: #f48800;
      font-weight: bold; }
    #book-content table tfoot th {
      padding: 5px;
      border: 1px solid #000;
      font-weight: bold; }
    #book-content table td {
      border-top: 0;
      border-style: solid;
      border-width: 1px;
      padding: 5px; }
  #book-content .table {
    margin-top: 20px;
    margin-bottom: 20px; }
  #book-content .informaltable {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 13px;
    margin-bottom: 13px; }
  #book-content .informalequation {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px; }
  #book-content .chapter > .title, #book-content .chapter > .block-container .title, #book-content .article > .title, #book-content .article > .block-container .title, #book-content .preface > .title, #book-content .preface > .block-container .title {
    /*margin-top: 2px;*/
    text-align: center; }
    #book-content .chapter > .title .title-prefix, #book-content .chapter > .block-container .title .title-prefix, #book-content .article > .title .title-prefix, #book-content .article > .block-container .title .title-prefix, #book-content .preface > .title .title-prefix, #book-content .preface > .block-container .title .title-prefix {
      display: block;
      padding-bottom: 5px;
      margin-bottom: 8px;
      border-bottom: 1px solid #ddd; }
  #book-content .preface h2, #book-content .article h2 {
    text-align: center;
    font-size: 1.4em;
    margin: 0; }
  #book-content .section .section h2.title {
    font-size: 1.5em;
    /*  Change the mid section header font size here*/
    margin: 0; }
  #book-content .section .section .section h2.title {
    font-size: 1.05em; }
  /*#book-content .glossterm {
    color: #111;
    font-weight: bold;
    border-bottom: 1px dashed #999; }
    #book-content .glossterm:hover {
      text-decoration: none; }
  #book-content .glossdef {
    display: none; }*/
  #book-content #hrfn {
    clear: both; }
  #book-content .learning_objectives, #book-content .key_takeaways, #book-content .exercises, #book-content .exercises-math, #book-content .qandaset, #book-content .callout {
    /* Figures Sizes and Placement */ }
    #book-content .learning_objectives .figure, #book-content .learning_objectives .informalfigure, #book-content .key_takeaways .figure, #book-content .key_takeaways .informalfigure, #book-content .exercises .figure, #book-content .exercises .informalfigure, #book-content .exercises-math .figure, #book-content .exercises-math .informalfigure, #book-content .qandaset .figure, #book-content .qandaset .informalfigure, #book-content .callout .figure, #book-content .callout .informalfigure {
      border: 0px; }
      #book-content .learning_objectives .figure.large img, #book-content .learning_objectives .figure.full img, #book-content .learning_objectives .figure.fullpage img, #book-content .learning_objectives .informalfigure.large img, #book-content .learning_objectives .informalfigure.full img, #book-content .learning_objectives .informalfigure.fullpage img, #book-content .key_takeaways .figure.large img, #book-content .key_takeaways .figure.full img, #book-content .key_takeaways .figure.fullpage img, #book-content .key_takeaways .informalfigure.large img, #book-content .key_takeaways .informalfigure.full img, #book-content .key_takeaways .informalfigure.fullpage img, #book-content .exercises .figure.large img, #book-content .exercises .figure.full img, #book-content .exercises .figure.fullpage img, #book-content .exercises .informalfigure.large img, #book-content .exercises .informalfigure.full img, #book-content .exercises .informalfigure.fullpage img, #book-content .exercises-math .figure.large img, #book-content .exercises-math .figure.full img, #book-content .exercises-math .figure.fullpage img, #book-content .exercises-math .informalfigure.large img, #book-content .exercises-math .informalfigure.full img, #book-content .exercises-math .informalfigure.fullpage img, #book-content .qandaset .figure.large img, #book-content .qandaset .figure.full img, #book-content .qandaset .figure.fullpage img, #book-content .qandaset .informalfigure.large img, #book-content .qandaset .informalfigure.full img, #book-content .qandaset .informalfigure.fullpage img, #book-content .callout .figure.large img, #book-content .callout .figure.full img, #book-content .callout .figure.fullpage img, #book-content .callout .informalfigure.large img, #book-content .callout .informalfigure.full img, #book-content .callout .informalfigure.fullpage img {
        max-width: 400px;
        max-height: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto; }
      #book-content .learning_objectives .figure.small, #book-content .learning_objectives .figure.medium, #book-content .learning_objectives .informalfigure.small, #book-content .learning_objectives .informalfigure.medium, #book-content .key_takeaways .figure.small, #book-content .key_takeaways .figure.medium, #book-content .key_takeaways .informalfigure.small, #book-content .key_takeaways .informalfigure.medium, #book-content .exercises .figure.small, #book-content .exercises .figure.medium, #book-content .exercises .informalfigure.small, #book-content .exercises .informalfigure.medium, #book-content .exercises-math .figure.small, #book-content .exercises-math .figure.medium, #book-content .exercises-math .informalfigure.small, #book-content .exercises-math .informalfigure.medium, #book-content .qandaset .figure.small, #book-content .qandaset .figure.medium, #book-content .qandaset .informalfigure.small, #book-content .qandaset .informalfigure.medium, #book-content .callout .figure.small, #book-content .callout .figure.medium, #book-content .callout .informalfigure.small, #book-content .callout .informalfigure.medium {
        float: none; }
      #book-content .learning_objectives .figure p, #book-content .learning_objectives .informalfigure p, #book-content .key_takeaways .figure p, #book-content .key_takeaways .informalfigure p, #book-content .exercises .figure p, #book-content .exercises .informalfigure p, #book-content .exercises-math .figure p, #book-content .exercises-math .informalfigure p, #book-content .qandaset .figure p, #book-content .qandaset .informalfigure p, #book-content .callout .figure p, #book-content .callout .informalfigure p {
        font-style: italic;
        font-size: 0.8em; }
      #book-content .learning_objectives .figure .title, #book-content .learning_objectives .informalfigure .title, #book-content .key_takeaways .figure .title, #book-content .key_takeaways .informalfigure .title, #book-content .exercises .figure .title, #book-content .exercises .informalfigure .title, #book-content .exercises-math .figure .title, #book-content .exercises-math .informalfigure .title, #book-content .qandaset .figure .title, #book-content .qandaset .informalfigure .title, #book-content .callout .figure .title, #book-content .callout .informalfigure .title {
        background-color: inherit;
        /* avoid blue background */
        text-transform: inherit;
        text-align: left;
        letter-spacing: 0;
        margin-bottom: 0px;
        padding: 0px; }
        #book-content .learning_objectives .figure .title .title-prefix, #book-content .learning_objectives .informalfigure .title .title-prefix, #book-content .key_takeaways .figure .title .title-prefix, #book-content .key_takeaways .informalfigure .title .title-prefix, #book-content .exercises .figure .title .title-prefix, #book-content .exercises .informalfigure .title .title-prefix, #book-content .exercises-math .figure .title .title-prefix, #book-content .exercises-math .informalfigure .title .title-prefix, #book-content .qandaset .figure .title .title-prefix, #book-content .qandaset .informalfigure .title .title-prefix, #book-content .callout .figure .title .title-prefix, #book-content .callout .informalfigure .title .title-prefix {
          display: block; }
  #book-content .learning_objectives, #book-content .key_takeaways, #book-content .exercises, #book-content .qandaset, #book-content .callout {
    margin-top: 14px;
    margin-bottom: 14px;
    clear: both; }
  #book-content .keyterm {
    background-color: #d7eaf1;
    padding-bottom: 0px !important; }
  #book-content .keyterm dl {
    background-color: #e8f3f7;
    margin-top: -8px;
    padding: 10px 0px 20px 30px;
    font-size: 0.9em; }
    #book-content .keyterm dl dt {
      list-style-type: none !important;
      clear: left;
      float: left;
      font-weight: bold;
      display: inline !important;
      text-transform: capitalize;
      margin: 0px;
      padding: 10px 0px 0px 4px; }
      #book-content .keyterm dl dt:after {
        content: ':'; }
    #book-content .keyterm dl dd {
      margin: 0px;
      padding: 10px 20px 0px 4px; }
      #book-content .keyterm dl dd:before {
        content: '\a0 '; }
  #book-content .learning_objectives, #book-content .key_takeaways, #book-content .exercises, #book-content .exercises-math, #book-content .qandaset, #book-content .keyterm {
    padding-bottom: 20px; }
    #book-content .learning_objectives .title, #book-content .key_takeaways .title, #book-content .exercises .title, #book-content .exercises-math .title, #book-content .qandaset .title, #book-content .keyterm .title {
      font-size: 1.1em;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.125em;
      padding: 10px 0px 7px 0px;
      margin-bottom: 10px; }
    #book-content .learning_objectives ol, #book-content .learning_objectives ul, #book-content .learning_objectives p, #book-content .key_takeaways ol, #book-content .key_takeaways ul, #book-content .key_takeaways p, #book-content .exercises ol, #book-content .exercises ul, #book-content .exercises p, #book-content .exercises-math ol, #book-content .exercises-math ul, #book-content .exercises-math p, #book-content .qandaset ol, #book-content .qandaset ul, #book-content .qandaset p, #book-content .keyterm ol, #book-content .keyterm ul, #book-content .keyterm p {
      /*font-family: 'Calibri2', Calibri, Arial, 'Trebuchet MS', sans-serif;*/
      margin: 10px 25px 0 20px; }
  #book-content .learning_objectives {
    background-color: #eae9dc; }
    #book-content .learning_objectives > .title {
      background-color: #d2d1c2; }
  #book-content .key_takeaways {
    background-color: #ecf9ea; }
    #book-content .key_takeaways > .title {
      color: #fff;
      background-color: #39892f; }
  #book-content .exercises, #book-content .exercises-math, #book-content .qandaset {
    background-color: #e3eff7; }
    #book-content .exercises .title, #book-content .exercises-math .title, #book-content .qandaset .title {
      background-color: #08629a;
      color: white; }
  #book-content .equation p.title {
    font-style: italic;
    padding: 10px 10px 0 10px; }
  #book-content .figure, #book-content .informalfigure {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 30px;
    /* Figures Sizes and Placement */ }
    #book-content .figure p, #book-content .informalfigure p {
      font-style: italic;
      font-size: 0.8em; }
    #book-content .figure .title, #book-content .informalfigure .title {
      color: #BB9966;
      padding: 10px 10px 0 10px; }
      #book-content .figure .title .title-prefix, #book-content .informalfigure .title .title-prefix {
        color: black;
        padding: 0 5px 0 0; }
    #book-content .figure.small, #book-content .figure.medium, #book-content .informalfigure.small, #book-content .informalfigure.medium {
      clear: right;
      float: right;
      padding: 10px;
      max-width: 150px; }
    #book-content .figure.small img, #book-content .informalfigure.small img {
      max-width: 150px; }
    #book-content .figure.medium img, #book-content .informalfigure.medium img {
      max-width: 150px; }
    #book-content .figure.large img, #book-content .figure.full img, #book-content .figure.fullpage img, #book-content .informalfigure.large img, #book-content .informalfigure.full img, #book-content .informalfigure.fullpage img {
      max-width: 497px;
      max-height: 400px;
      display: block;
      margin-left: auto;
      margin-right: auto; }
    #book-content .figure.fullpage img, #book-content .informalfigure.fullpage img {
      max-height: none;
      width: 100%; }
  #book-content .exercises-math .figure.small, #book-content .exercises-math .informalfigure.small, #book-content .callout .figure.small, #book-content .callout .informalfigure.small {
    float: none; }
  #book-content .exercises-math .figure.medium, #book-content .exercises-math .informalfigure.medium, #book-content .callout .figure.medium, #book-content .callout .informalfigure.medium {
    float: none; }
  #book-content .exercises-math .figure.large img, #book-content .exercises-math .figure.full img, #book-content .exercises-math .informalfigure.large img, #book-content .exercises-math .informalfigure.full img, #book-content .callout .figure.large img, #book-content .callout .figure.full img, #book-content .callout .informalfigure.large img, #book-content .callout .informalfigure.full img {
    width: 100%; }
  #book-content .callout {
    background-color: #f4f4f4;
    border: solid 3px #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px; }
  #book-content #howto {
    margin-top: 10px; }
    #book-content #howto #howto-header {
      font-weight: bold; }
  #book-content .video embed, #book-content .mediaobject embed, #book-content .audio embed {
    height: 358px;
    width: 477px; }
  #book-content .video p, #book-content .mediaobject p, #book-content .audio p {
    font-style: italic;
    font-size: 0.85em; }
  #book-content sup {
    vertical-align: super;
    line-height: 0; }
  #book-content .footnote ol, #book-content .footnote ul, #book-content .footnote p, #book-content .footnote sup {
    /*font-family: 'Calibri2', Calibri, Arial, 'Trebuchet MS', sans-serif;*/
     }
  #book-content ol[numeration='loweralpha'] li {
    list-style-type: lower-alpha; }
  #book-content ol[numeration='arabic'] li {
    list-style-type: decimal; }
  #book-content .qandaset {
    counter-reset: q-or-a; }
    #book-content .qandaset ol.qandadiv {
      margin: 0;
      padding: 0; }
    #book-content .qandaset .qandaentry {
      display: list-item;
      margin-left: 30px; }
      #book-content .qandaset .qandaentry[audience='instructoronly'] {
        visibility: hidden;
        height: 0; }
      #book-content .qandaset .qandaentry .question, #book-content .qandaset .qandaentry .answer {
        counter-increment: q-or-a; }
        #book-content .qandaset .qandaentry .question *, #book-content .qandaset .qandaentry .answer * {
          margin: 0;
          font-size: 1em; }
        #book-content .qandaset .qandaentry .question ol, #book-content .qandaset .qandaentry .answer ol {
          list-style-type: lower-alpha; }
  #book-content .next-button {
    float: right;
    margin-bottom: 10px; }
  #book-content .epigraph {
    font-style: italic; }
    #book-content .epigraph .attribution::before {
      content: "- "; }
    #book-content .epigraph .attribution {
      margin-left: 10px; }
  #book-content .creative_commons {
    margin: 20px 0 10px; }

.mini-page #book-main-right {
  display: none; }
.mini-page #book-main {
  float: none;
  margin: 0 auto 0 auto;
  width: 100%; }
  .mini-page #book-main #supplements, .mini-page #book-main #search-supplements-options, .mini-page #book-main #options-bookmark {
    width: auto; }
  .mini-page #book-main #book-content, .mini-page #book-main #supps-sa, .mini-page #book-main #search-supp-close {
    margin-right: 40px; }

#book-main-upper, #book-main {
  margin-right: 9px; }



